<div class="row">
	<div class="col-xs-offset-10 col-xs-2" style="text-align: right">
		<%= link_to raw("<i class='fa fa-plus'></i>"), {:action => :new}, :class => "btn-sm btn btn-primary" %>
	</div>
	<h2>My Tracks</h2>
</div>
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
<div class="row">
	<table class="table table-striped table-bordered">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Date created</th>
			<th colspan="3">Action</th>
		</thead>
		<tbody>
			<% @tracks.each do |track| %>
				<tr>
					<td><%= track.name %></td>
					<td><%= track.description %></td>
					<td><%= track.created_at %></td>
					<td><%= link_to "Show", track %></td>
				    <td><%= link_to "Edit", edit_track_path(track) %></td>
				    <td><%= link_to "Remove", track, method: :delete, data: { confirm: "Are you sure?" } %></td>
					
				</tr>
			<% end %>			
		</tbody>
	</table>
</div>
